* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

main {
    display: grid;
    gap: 80px;
    margin-top: 80px;
    margin-bottom: 80px;

    grid-template-areas: 
    "valores"
    "proyectos"
    "servicios"
    "hacemos";
}

body {
    background-color: #F1F1F1;
}

a,
a :visited {
    text-decoration: none;
    color: inherit;
}


/*Logo*/
.logo {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 2.2rem;
    letter-spacing: 0.1em;
    color: #151515;
}


/*Fonts*/
h3 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 2.625rem;
}

h4 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
}

h5 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
}

p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
}


/*Buttons*/
.button__primary {
    display: flex;
    flex-direction: column;
    width: 160px;

    height: 48px;
    border-radius: 4px;
    background-color: #3827FF;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    margin: 8px;
    box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);

    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    color: #F1F1F1;
    letter-spacing: 0.02em;

    transition-duration: 300ms;
    transition-timing-function: ease;
}

.button__primary:hover {
    background-color: #00A9FF;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    transform: translateY(-4px);
}

.button__secondary {
    display: flex;
    flex-direction: column;

    height: 48px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid #3827FF;
    background-color: #F1F1F1;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    margin: 8px;
    box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);

    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    color: #3827FF;
    letter-spacing: 0.01em;

    transition-duration: 300ms;
    transition-timing-function: ease;
}

.button__secondary:hover {
    color: #00A9FF;
    border: 3px solid #00A9FF;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    transform: translateY(-4px);
}

.button__ghost {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;

    height: 48px;
    border-radius: 4px;
    border: none;
    background-color: #F1F1F100;
    padding: 11px 0px 11px 0px;
    
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    color: #3827FF;
    letter-spacing: 0.01em;
    
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.button__ghost i{
    padding-top: 4px;
}

.button__ghost:hover {
    color: #00A9FF;
    transform: translate(-2px);
    transform: scale(1.03);
}

.icon-button {
    background-color: #3827FF;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button i {
    color: #F1F1F1;
    font-size: 1.125rem;
    padding: 3px;
}

.floating-button{
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-image: linear-gradient(0deg, #20B038 0%, #60D66A 100%);
	color:#F1F1F1;
	border-radius:50px;
    display: flex;
	text-align:center;
    justify-content: center;
    align-items: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 6px 12px 4px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index:100;
}

.floating-button i{
    font-size: 2rem;
}


/*Hero*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero__headline {
    background-image: url("../img/calefaccion-hero.png"); 
    background-size: cover;
    height: 352px;
}

.hero__headline h1 {
    width: 245px;
    padding-left: 16px; 
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 2.625rem;
    line-height: 120%;
    color: #F1F1F1;
    padding-top: 100px;
}

.hero__subheadline {
    padding: 0px 16px 0px 16px;
}

.hero__subheadline h2 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    color: #151515
}

.hero__img {
    object-fit: cover;
    position: relative;
    z-index: 1;
    height: 80vh;
    width: 60vw;
    background: url(calefaccion-central.jpg), #888888;
    border-radius: 24px 0px 0px 24px;
}


table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 16px;
}

table tr th {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 2.625rem;
    padding: 8px 8px 4px 8px;
    text-align: center;
}

table tr td {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    padding: 4px 8px 8px 8px;
    text-align: center;
}

@media (min-width: 1024px) {
  
    .hero {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0px 0px 80px 0px;
    }  

    .hero__headline h1 {
        width: 678px;
        font-size: 3.75rem;
        line-height: 100%;
        padding: 8px;
        color: #151515;
        z-index: 3;
    }

    .hero__headline {
        height: auto;
        background-image: none;
    }

    .hero__subheadline {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 120%;
        padding: 8px;
        color: #151515
    }

    .hero__container {
        z-index: 3;
        position: relative;
        left: 232px;
    }

    .hero__headline h1 span {
        color:#F1F1F1;
    }
}


/*Nav Bar*/
header {
    align-items: center;
    width: 100%;
    padding: 0px 16px 0px 16px;
}


header h1 {
    text-align: end;
    margin-left: 32px;
}

header nav {
    width: 100%;
}

header nav ul {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 1rem;
    justify-content: space-around;
    position: relative;
    transition: ease-in-out 250ms;
}

nav ul li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 0%;
    background-color: #3827FF;
    bottom: -6px;
    transition: ease-in-out 250ms;
}

nav ul li a:hover::after {
    width: 100%;
}

.selected-item a::after {
    height: 4px;
    width: 100%;
}



@media (min-width: 1024px) {

    header {
        display: flex;
        padding: 16px 32px;
    }

    nav ul li a {
        margin-left: 8px;
        margin-right: 8px;
    }
}



/*Main-Section-LEFT*/
.main-section-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
    margin-right: 16px;
    grid-area: valores;
}

.main-section-left__title {
    color: #3827FF;
    padding: 4px 8px;
    margin: 8px 0px 8px 0px;
    text-align: end;
}

.main-section-left__img {
    width: 100%;
    height: 480px;
    border-radius: 0px 16px 16px 0px;
    object-fit: cover;
}

@media (min-width: 1024px) {

    .main-section-left {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: flex-start;
        align-items: center;
        margin-right: 32px;
    }

    .main-section-left__img {
        width: 40vw;
    }

}



/*Main-Section-RIGHT*/
.main-section-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: flex-end;
    margin-left: 16px;
    grid-area: servicios;
}

.main-section-right__title {
    color: #3827FF;
    padding: 4px 8px;
    margin: 8px 0px 8px 0px;
}

.main-section-right__img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 16px 0px 0px 16px;
}

@media (min-width: 1024px) {
    .main-section-right {
        flex-direction: row-reverse;
        gap: 40px;
        justify-content: flex-end;
        align-items: center;
        margin-left: 32px;
    }

    .main-section-right__img {
        width: 40vw;
    }
}



/* Main-Section-Articles */
.main-section__articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
    margin-left: 16px;
    margin-right: 16px;
}

.main-section__articles__group {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-section__highglighted_text {
    font-size: 1.2rem;
}

@media (min-width: 1024px) {
    .main-section__articles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        align-items: flex-start;
    }

    .main-section__articles__group {
        display: flex;
        flex-direction: row;
        /* width: 40vw; */
    }
}



/*Card-Servicios*/
.card {
    display: flex;
    flex-direction: column;
    background: #F1F1F1;
    align-items: flex-start;
    gap: 8px;
    padding: 24px;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    border-radius: 8px
}

.servicios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 32px;
    margin-top: 80px;
    margin-left: 32px;
    margin-right: 32px;
}

.servicios__title {
    color: #3827FF;
}



/*Highlight-Section*/
.highlight-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 48px 0px 48px 0px;
    gap: 48px;
    background-color: #E6E6E6;
    width: 100vw;
    grid-area: proyectos;
}

.highlight-section__group--left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight-section__card--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 8px;
    border-radius: 8px;
    background: #F8F8F8;
    z-index: 2;
    min-width: 208px;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    position: absolute;
}

.highlight-section__group--right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight-section__card--right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 8px;
    border-radius: 8px;
    background: #F8F8F8;
    z-index: 2;
    min-width: 208px;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    position: absolute;
}

.highlight-section__title {
    color: #3827FF;
    text-align: center;
}

.highlight-section__img {
    height: 272px;
    width: 100vw;
    object-fit: cover;
    z-index: 1;
}


@media (min-width: 1024px) {

    /*Highlight Section*/
    .highlight-section {
        gap: 56px;
        padding: 64px 0px 64px 0px;
    }

    /* .highlight-section__group--left {
        max-width: 1144px;
    } */

    .highlight-section__card--left {
        max-width: 308px;
        position: relative;
        left: 48px;
    }

    .highlight-section__group--right {
        flex-flow: row-reverse;
    }

    .highlight-section__card--right {
        max-width: 308px;
        position: relative;
        right: 48px;
    }

    .highlight-section__img {
        width: 80%;
        max-width: 1010px;
        border-radius: 16px;
    }
}


/*Section-HOW*/

.main-section-how{
    grid-area: hacemos;
}

.section-how {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}


.section-how__title {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 24px;
    color: #3827FF;
}

.section-how__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

@media (min-width: 1024px) {
    .main-section-how{
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .section-how {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}



/*Footer*/
i {
    font-size: 1.125rem;
}

.footer,
.footer p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #3827FF;
    background-color: #E6E6E6;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    row-gap: 40px;
}

.footer {
    padding: 32px 16px 32px 16px;
    background-color: #E6E6E6;
    column-gap: 40px;
}


.footer ul li {
    height: 24px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.footer-title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.01em;
    color: #1F1F1F;
    margin: 4px 4px 4px 0px;
}

.icons-container {
    display: flex;
    max-width: 120px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.icon-row {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 24px;
}

.footer-row-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-row-container__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-legals {
    background-color: #3827FF;
    height: 40px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-right: 16px;
    padding-left: 16px;
}

.footer-legals__text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    letter-spacing: 0.03em;
    color: #F1F1F1;

    text-align: left;
}

@media (min-width: 1024px) {

    .footer {
        padding: 24px 32px 24px 32px;
    }

    .footer,
    .footer p {
        flex-direction: row;
    }

    .footer-section {
        flex-direction: row;
        gap: 48px;
    }

    .footer-legals {
        justify-content: flex-end;
        align-items: center;
        padding-right: 32px;
        padding-left: 32px;
    }

    .footer-legals__text {
        font-size: 0.75rem;
        text-align: right;
    }
}



/*Cards-Productos*/
.productos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 32px;
}

.productos__card__desc {
    font-weight: 400;
}

.icon-value__icon {
    width: 32px;
    height: 32px;
}

.icon-value__title {
    font-weight: 500;
}


.productos .card{
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.productos .card:hover{
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transform: translateY(-2);
    transform: scale(1.05);
}


/*Contacto*/
.contacto {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 16px;
}

.contacto__row {
    display:flex;
    flex-direction: column;
    gap: 4px

}

.contacto__form__input {
    background: #EFEFEF;
    border: 1px solid #3827FF;
    border-radius: 4px;
    width: 318px;
    height: 48px;
}

.contacto__form__textarea {
    background: #EFEFEF;
    border: 1px solid #3827FF;
    border-radius: 4px;
    width: 318px;
}

.contacto__form {
    display: flex;
    width: 50vw;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    gap: 16px;
}

.contacto__form__label {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.02em;
}

.mobile-hide {
    display: none;
    height: 0px;
}

@media (min-width: 1024px) {

    .contacto-main {
        margin-left: 104px;
        margin-top: 80px;
    }

    .contacto__form__input {
        width: 100%;
    }
    .contacto__form__textarea {
        width: 100%;    
    }

    .mobile-hide {
        display: block;
        height: auto;
    }   
}

/* Proyectos */
.projects-container{
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}