$black: #151515;
$white: #F1F1F1;
$blue: #3827FF;
$light-blue: #00A9FF;

$shadow-0: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);
$shadow-1: 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 6px 12px 4px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.2);
$shadow-2: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
$shadow-3: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);

$main-font: 'Jost', sans-serif;
$accent-font: 'Bebas Neue', sans-serif;