// Contacto
.contacto-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    &__row {
        display:flex;
        flex-direction: column;
        gap: 4px
    }
    &__form {
        display: flex;
        width: 50vw;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        margin-top: 40px;
        &__input {
            background-color: $soft-grey;
            border: 1.25px solid $blue;
            border-radius: 4px;
            width: 318px;
            height: 48px;
            padding-left: 8px;
            padding-right: 8px;
            font-family: $main-font;
            @media (min-width: 992px) {
                width: 100%;
            }
            &:focus{
                background-color: #F4F4F4;
            }
        }
        &__textarea {
            background: $soft-grey;
            border: 1.25px solid $blue;
            border-radius: 4px;
            width: 318px;
            padding: 8px;
            font-family: $main-font;
            @media (min-width: 992px) {
                width: 100%;
            }
            &:focus{
                background-color: #F4F4F4;
            }
        }
        &__label {
            font-family: $main-font;
            font-style: normal;
            font-weight: 500;
            font-size: 0.875rem;
            letter-spacing: 0.02em;
        }
    }
    @media (min-width: 992px) {
        margin-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.contacto-main {
    margin-left: 16px;
    @media (min-width: 992px) {
        margin-left: 104px;
    }
}