.servicios {
    display: grid;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 32px;
    @media (min-width: 992px){
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 32px;
    }
}