// Hero
.hero {
    justify-content: center;
    padding-top: 40px;
    @media (min-width: 992px) { 
        align-items: center;
        margin: 0px 0px 80px 0px;
    }

    &__container {
        gap: 24px;
        @media (min-width: 992px) {  
            z-index: 3;
            position: relative;
        }
    }

    &__container h2{
        margin-top: 24px;
        margin-bottom: 24px;
        @media (min-width:992px) {
            margin-top: 8px;
            margin-bottom: 16px;
        }
    }

    &__img {
        object-fit: cover;
        position: relative;
        height: 80vh;
        width: 100%;
        border-radius: 24px 0px 0px 24px;
        z-index: 1;
    }

    &__headline {
        background-image: url("../img/calefaccion-hero_background.png");
        background-size: cover;
        height: 352px;
        @media (min-width: 992px) {  
            height: auto;
            background-image: none;
        }
    }

    &__headline h1 {
        width: 245px;
        padding-left: 16px;
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 2.625rem;
        line-height: 120%;
        color: $white;
        padding-top: 100px;
        @media (min-width: 992px) {  
            width: 520px;
            font-size: 2.7rem;
            line-height: 100%;
            padding: 8px;
            color: $black;
        }
    }

    &__subheadline {
        padding: 0px 16px 0px 16px;
        @media (min-width: 992px) {  
            font-family: 'Jost';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 120%;
            padding: 8px;
            color: $black;
        }
    }

    &__subheadline h2 {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 120%;
        color: $black;
    }    
}

@media (min-width: 992px) {  
    .hero__headline h1 span {
        color: $white;
    }
}

table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 16px;
    margin-top: 8px;
    margin-bottom: 8px;

    tr th {
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 2.625rem;
        padding: 8px 8px 4px 8px;
        text-align: center;
    }

    tr td {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        padding: 4px 8px 8px 8px;
        text-align: center;
    }
}