// Main-Section
.main-section__articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: flex-end;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 40px;
    @media (min-width: 992px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        align-items: flex-start;
        margin-top: 0px;
    }
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;

    &__title {
        color: $blue;
        padding: 4px 16px;
        // margin: 8px 0px 8px 0px;
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: end;
    }

    &__img {
        width: 100%;
        min-height: 100%;
        border-radius: 0px 16px 16px 0px;
        object-fit: cover;
    }

    @media (min-width: 992px) {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: flex-start;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.main-section__title--right{
    @extend .main-section__title;
    text-align: start;
}

.main-section__img--right {
    @extend .main-section__img;
    border-radius: 16px 0px 0px 16px;
}