// Section-How
.section-how {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__title {
        display: flex;
        justify-content: center;
        padding: 8px;
        margin: 24px;
        color: $blue;
        text-align: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        text-align: center;
    }

    @include desktop{
        display: flex;
        flex-direction: row;
        gap: 0px;
    }
}