// Buttons
.button__primary {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    background-color: $blue;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: $shadow-0;
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    color: $white;
    letter-spacing: 0.02em;

    transition-duration: 300ms;
    transition-timing-function: ease;
    &:hover{
        background-color: $light-blue;
        box-shadow: $shadow-2;
        transform: translateY(-4px);
    }
}



.button__secondary {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 48px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid $blue;
    background-color: $white;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    margin: 8px;
    box-shadow: $shadow-0;
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    color: $blue;
    letter-spacing: 0.01em;

    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    &:hover {
        color: $light-blue;
        border: 3px solid $light-blue;
        box-shadow: $shadow-2;
        transform: translateY(-4px);
    }
}



.button__ghost {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;
    height: 48px;
    border-radius: 4px;
    border: none;
    background-color: #F1F1F100;
    padding: 11px 0px 11px 0px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    color: $blue;
    letter-spacing: 0.01em;
    
    transition-duration: 200ms;
    transition-timing-function: ease;
    i{
        padding-top: 6px;
        transition-timing-function: ease-in-out;
        &:hover{
            transform: scale(1.03);
        }
    }
    &:hover {
        color: $light-blue;
        transform: translate(-2px);
        transform: scale(1.03);
    }
    span{
        padding-top: 2px;
    }
    a{
        &:hover{
            color: $light-blue;
        }
    }
}


.icon-button {
    background-color: $blue;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        color: $white;
        font-size: 1.125rem;
        padding: 3px;
    }
}



.floating-button{
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-image: linear-gradient(0deg, #20B038 0%, #60D66A 100%);
	color:$white;
	border-radius:50px;
    display: flex;
	text-align:center;
    justify-content: center;
    align-items: center;
	box-shadow: $shadow-1;
    z-index:100;

    transition-duration: 300ms;
    transition-timing-function: ease;

    i{
        font-size: 2rem;
        position: relative;
        bottom: 0.05em;
    }

    &:hover{
        box-shadow: $shadow-2;
        transform: translateY(-4px);
    }
}


.navbar-toggler{
    border: 0px;
}