// Cards
.servicios-card {
    @include dflex (column, center, flex-start);
    font-family: $accent-font;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    gap: 8px;
    padding: 24px;
    border-radius: 8px;
    &__title {
        color:$blue;
    }
}



.productos-card {
    @include dflex (column, center, flex-start);
    background: $white;
    gap: 8px;
    padding: 24px;
    box-shadow: $shadow-2;
    border-radius: 8px;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    height: 100%;
    &__desc {
        font-weight: 400;
    }

    &:hover{
        box-shadow: $shadow-3;
        transform: translateY(-2);
        transform: scale(1.05);
    }
}