body {
    background-color: #F1F1F1;
}

main {
    display: grid;
    gap: 104px;
    margin-top: 80px;
    margin-bottom: 144px;
}

// Button-Row
.button-row{
    display: flex;
    align-items: center;
    @media (min-width:992px){
        margin-top: 24px;
    }
}

//Mixins
@mixin dflex ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin desktop{
    @media (min-width:992px){
        @content
    }
}