body {
    background-color: #F1F1F1;
}

main {
    display: grid;
    gap: 104px;
    margin-top: 80px;
    margin-bottom: 144px;
}

// Button-Row
.button-row{
    margin-top: 24px;
    padding-left: 16px;
}